<?xml version="1.0"?>
<robot>
	<link name="laser">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<mesh filename="package://tb3_description/meshes/sensors/hokuyo.dae"/>
			</geometry>
		</visual>
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="0.2" />
			<inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<box size="0.05 0.06 0.085"/>
			</geometry>
		</collision>
	</link>
	<joint name="SICK_laser_joint" type="fixed">
		<parent link="base_link"/>
		<child link="laser"/>
		<child link="odom"/>	<!-- To check -->
		<origin xyz="-0.09 0 0.114" rpy="0 0 0"/>
	</joint>

<!-- Gazebo sensor plugin -->
<gazebo reference= "laser" >
	<material> Gazebo/DarkGrey </material>
		<sensor type= "ray" name= "SICK_laser" >
		<always_on> 1 </always_on>
		<update_rate> 15.0 </update_rate>
		<visualize> false </visualize>
		<ray>
			<scan>
				<horizontal>
					<samples> 820 </samples>
					<resolution> 0.5 </resolution>
					<min_angle> ${-3.0/4.0 * M_PI} </min_angle>
					<max_angle> ${ 3.0/4.0 * M_PI} </max_angle>
				</horizontal>
			</scan>
			<range>
				<min> 0.05 </min>
				<max> 25 </max>
				<resolution> 0.01 </resolution>
			</range>
		</ray>
		<plugin name= "SICK_laser_plugin" filename= "libgazebo_ros_laser.so" >
			<update_rate> 15.0 </update_rate>
			<frameName> laser </frameName>
			<topicName> scan </topicName>
			<gaussianNoise> 0.0 </gaussianNoise>
			<SICK_laserMinIntensity> 101 </SICK_laserMinIntensity>
		</plugin>
	</sensor>
</gazebo>
	
</robot>



