<?xml version="1.0"?>
<launch>
	<param name="/use_sim_time" value="true" />
	<arg name="world_name" default="$(find mb_gazebo)/worlds/house.world"/>
	<arg name="rvizconfig" default="$(find multi_robot)/rviz/multibot_rrt_expl_sep.rviz"/>
	<!-- <arg name="rvizconfig" default="$(find multi_robot)/rviz/multinav_debug.rviz"/> -->

  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
  	</include>
	
	<!-- Without these 2 lines, map is not detected in rviz -->
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster_robot1" args="0.5 0.5 0 0 0 0 map robot_1/map 100"/>
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster_robot2" args="0.5 0.5 0 0 0 0 map robot_2/map 100"/> 

	<!-- robot description -->
	<!--<include file="$(find multi_robot)/launch/nav_robots_rrt.launch"/> -->
	<include file="$(find multi_robot)/launch/nav_robots_rrt_seperate.launch"/>
	<!-- <include file="$(find multi_robot)/launch/robots.launch"/> -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro  -<DELETETHIS>- inorder $(find mb_description)/urdf/turtlebot3_waffle_base.urdf.xacro" /> -->

	<!-- robot state publisher -->
	<!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" value="30.0"/>
	</node> -->

	<!-- joint state publisher -->
	<!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
		<param name="rate" value="30.0"/>
		<param name="use_gui" value="false"/>
	</node> -->

	<!--- Run AMCL -->
  	<!-- <include file="$(find mb_localization)/launch/amcl.launch" /> -->
	
	<!--- Run SLAM -->
	<!-- <include file="$(find mb_localization)/launch/hector_slam.launch" /> -->

	 <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_mb" args="-urdf -param robot_description -model turtlebot3_waffle_base -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> -->
	<!-- rviz launcher -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/> -->

	<!-- rviz arguments -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
</launch>
