<?xml version="1.0"?>
<launch>
	<param name="/use_sim_time" value="true" />
	<arg name="world_name" default="$(find mb_gazebo)/worlds/house.world"/>  <!--Maps available are: house.world arena_2018.world-->
	<arg name="rvizconfig" default="$(find mb_navigation)/rviz/multinav_debug.rviz"/>

  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
  	</include>
	
	<!-- Without these 2 lines, map is not detected in rviz -->
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster_robot1" args="0.5 0.5 0 0 0 0 map robot1_tf/map 100"/>
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster_robot2" args="0.5 0.5 0 0 0 0 map robot2_tf/map 100"/> 

	<!-- robot description -->
	<include file="$(find multi_robot)/launch/nav_robots.launch"/> 

	<!-- Bot controllers -->
	<node pkg="simple_navigation_goals" type="simple_navigation_goals_periodic_robot1" name="simple_navigation_goals_periodic_robot1" output="screen" />
	<node pkg="simple_navigation_goals" type="simple_navigation_goals_periodic_robot2" name="simple_navigation_goals_periodic_robot2" output="screen" />

	<!-- rviz arguments -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_robot)/rviz/multinav_debug.rviz" output="screen" />
</launch>
