<?xml version="1.0"?>
<launch>
	<!-- <arg name="rvizconfig" default="$(find mb_navigation)/rviz/navigation_cfg.rviz"/> -->
	<arg name="rvizconfig" default="$(find multi_robot)/rviz/simple.rviz"/>
	<!-- <include file="$(find mb_control)/launch/keyboard_control.launch" /> -->
	<!-- <include file="$(find mb_localization)/launch/amcl.launch" /> -->
	<include file="$(find mb_gazebo)/launch/mb_arena.launch" />
	<!-- <include file="$(find multi_robot)/launch/hectorslam/hector_slam.launch" /> -->
	<include file="$(find mb_localization)/launch/hector_slam.launch" />
	<!-- <include file="$(find multi_robot)/launch/move_base_rrt.launch" /> -->
	<include file="$(find mb_navigation)/launch/move_base.launch" />

	<include file="$(find rrt_exploration)/launch/simple_mod_algo_edit.launch" />

	<!--<node pkg="simple_navigation_goals" type="simple_navigation_goals_periodic" name="simple_navigation_goals_periodic" output="screen" />-->

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
</launch>
