<?xml version="1.0"?>
<launch>
  <!-- <param name="/use_sim_time" value="true"/> -->  <!-- When used, the map does not appear -->

  <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find mb_gazebo)/maps/arena_gmapping.yaml" >
     <param name="frame_id" value="/map" />  <!-- value=/map or map makes no difference--> 
   </node>
   	<!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" value="30.0"/>
	</node>

 	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
		<param name="rate" value="30.0"/>
		<param name="use_gui" value="false"/>
	</node>-->

  <!-- <include file="$(find mb_localization)/launch/hector_slam.launch">
	 <param name="frame_id" value="/map" />
  </include> -->

  <!-- Robot Properties -->
  <!-- AMCL -->
  <!-- <include file="$(find multi_robot)/launch/amcl_robot1.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/amcl_robot2.launch" /> -->

  <!-- Move Base -->
  <!-- <include file="$(find multi_robot)/launch/move_base1.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/move_base2.launch" /> -->

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mb_description)/urdf/turtlebot3_waffle_base.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
    <include file="$(find multi_robot)/launch/move_base.launch" />
    <include file="$(find mb_localization)/launch/hector_slam.launch" />
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
    <include file="$(find multi_robot)/launch/move_base.launch" />
    <include file="$(find mb_localization)/launch/hector_slam.launch" />
  </group> 

  <!-- <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <param name="amcl/initial_pose_x" value="1" />
    <param name="amcl/initial_pose_y" value="1" />
    <include file="$(find multi_robot)/launch/move_base.launch" />
  </group> -->

  <!-- <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <param name="amcl/initial_pose_x" value="-1" />
    <param name="amcl/initial_pose_y" value="1" />
    <include file="$(find multi_robot)/launch/move_base.launch" />
  </group> -->

</launch>

