<?xml version="1.0"?>
<launch>
  <!-- Run the map server -->
 <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find mb_gazebo)/maps/arena_gmapping.yaml" > 
     <param name="frame_id" value="/map" /> --><!-- value=/map or map makes no difference--> 
  <!-- </node> -->

  <!-- Robot Properties -->
  <!-- AMCL -->
  <!-- <include file="$(find multi_robot)/launch/amcl_robot1.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/amcl_robot2.launch" /> -->

  <!-- Move Base -->
  <include file="$(find multi_robot)/launch/move_base1.launch" /> 
  <include file="$(find multi_robot)/launch/move_base2.launch" />
  
  <!-- SLAM imports -->
  <!-- <include file="$(find multi_robot)/launch/hector_slam.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/gmapping/gmapping1.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/gmapping/gmapping2.launch" /> -->
  <include file="$(find multi_robot)/launch/carto/summit.launch" />

  <!-- Map Merging -->
  <!-- <include file="$(find multi_robot)/launch/map_merge.launch" /> -->
  <!-- <include file="$(find multi_robot)/launch/map_merge_testing.launch" /> -->

  <!-- RRT Exploration -->
  <!-- <include file="$(find multi_robot)/launch/rrtexpl_multibot.launch" /> -->

  <!-- robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find tb3_description)/urdf/turtlebot3_waffle_base.urdf.xacro" />
  
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="robot1" />
      <remap from="map" to="robot1/map"/>
    </include>
    <!-- <include file="$(find multi_robot)/launch/gmapping.launch" /> -->
  </group>

  <!-- BEGIN ROBOT 2-->
   <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -0.8 -z 0" />
      <arg name="robot_name"  value="robot2" />
      <remap from="map" to="robot2/map"/>
    </include>
    <!-- <include file="$(find multi_robot)/launch/hector_slam.launch" /> -->
  </group>

</launch>

