<?xml version="1.0"?>
<launch>
  <!-- Move Base -->
  <include file="$(find multi_robot)/launch/move_base1.launch" /> 
  <include file="$(find multi_robot)/launch/move_base2.launch" />
  
  <!-- SLAM imports -->
  <include file="$(find multi_robot)/launch/gmapping/gmapping1.launch" />
  <include file="$(find multi_robot)/launch/gmapping/gmapping2.launch" />

  <!-- Map Merging -->
  <include file="$(find multi_robot)/launch/map_merge.launch" />

  <!-- robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find tb3_description)/urdf/turtlebot3_waffle_base.urdf.xacro" />
  
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 0 -z 0" />
      <arg name="robot_name"  value="robot1" />
      <remap from="map" to="robot1/map"/>
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
   <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="robot2" />
      <remap from="map" to="robot2/map"/>
    </include>
  </group>

</launch>

